
            <div>
                <a href="/">Express Movies</a>
                &nbsp;
                <a href="/movies">Films</a>
                &nbsp;
                <a href="/movie-search">Recherche d'un film</a>
            </div>
