<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Express Movies : les sites des cinéphiles</h1>
    <div>
        Êtes-vous plûtot films ou séries ? Peu import, vous trouverez votre bonheur dans les deux cas
    </div>
</body>
</html>