<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Movie-Detail</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Détails</h1>
    <div>
        <%= movieId %> <!-- variable définit côté "app.js" :res.render('movie-details', { movieId: id }); -->
    </div>
</body>
</html>