<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Movies</h1>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique laudantium odit rerum assumenda eius expedita aliquam voluptas. A velit, maiores ea amet laborum nisi modi numquam, dolorem, suscipit tempora aperiam.
    </div>

</body>
</html>