<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div>
        <div>
            <a href="/">Express Movies</a>
            &nbsp;
            <a href="/movies">Films</a>
        </div>
    </div>
    <h1>Movies</h1>
    <div>
        <% for(movie of movies) {%>
            <div><%= movie.title %> (<%= movie.year %>)</div>
        <% } %>
    </div>
   
    
</body>
</html>