<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <div>
        <div>
            <a href="/">Express Movies</a>
            &nbsp;
            <a href="/movies">Films</a>
        </div>
    </div>
    <h1>Movies</h1>
    <div class="french-movies">
        <% for(movie of movies) {%>
            <div >
                <%= movie.title %> (<%= movie.year %>)
            </div>
            <% } %>
    </div>
    <br>
    <div>
        <form action="/movies" method="POST">
            <label for="movieTitle">Titre du film</label>
            <input type="text" name="movieTitle" id="movieTitle">
            <label for="movieYear">Année du film</label>
            <input type="text" name="movieYear" id="movieYear">
            <button type="submit">Ajouter</button>
        </form>
    </div>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', addMovie);

        function addMovie(event){
            event.preventDefault();
            
            if(window.fetch){
                fetch('/movies',{
                    method: 'POST',
                    body: new FormData(form)
                }) //fetch retourne une promesse qu'on peut y chainer un ".then"
                .then(checkStatus)
                .catch(function(error){
                    console.error('request failed', error);
                })
            }
            else{ //s'il n'est pas reconnu par le navigateur
            addMovieUsingXHR(event); // jQuery, XHR
            }
        }

        function checkStatus(response){
            if(response.status >= 200 && response.status < 300){ //si la requête est entre 200 et 299 (Quand tout se passe bien)
                let newMovieDiv = document.createElement('div');
                const movieTitle = document.getElementById('movieTitle').value;
                const movieYear = document.getElementById('movieYear').value;
                newMovieDiv.innerHTML = `${movieTitle} (${movieYear})`; //Utilisation de template string
                // newMovieDiv.innerHTML = movieTitle + ' ' + '(' + movieYear + ')'; //équivalent à ce qu'il y a ci-dessus
                document.querySelector('.french-movies').appendChild(newMovieDiv);
                form.reset(); //Pour vider les champs du formulaire
            }
        }

        function addMovieUsingXHR(event) {
				// this browser does NOT support fetch. Fall back to XHR
				event.preventDefault();
				console.log('using addMovieUsingXHR()');				
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
				let xhr = new XMLHttpRequest();
				xhr.open("POST", '/movies-old-browser', true);
				//Send the proper header information along with the request
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhr.onreadystatechange = function() {//Call a function when the state changes.
					if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
						form.reset();
					}
				}
				// https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects
				console.log('form: ', form);
				let movietitle = document.getElementById('movietitle').value;
				let movieyear = document.getElementById('movieyear').value;
				let payLoad = "movietitle=" + movietitle + "&" + "movieyear=" + movieyear; 
				xhr.send(payLoad); 				
			}
    </script>
</body>

</html>